body {
    display: flex;
    background-color: #1c692a;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
}
   
    /* Styling for the image container */
    .image-container {
        width: 125px;
        height: 125px;
        overflow: hidden;
        position: relative;
        background-color: black;
        justify-content: center;
        margin-top: 50px;
    }

    /* Styling for the image */
    .image-container img {
        width: 100%;
        height: auto;
        justify-content: center;
    }

    /* Hover effect - make the image slightly bigger */
    .image-container:hover img {
        transform: scale(1.3);
    }

    /* Styling for the back image */
    .back-image {
        position: absolute;
        top: 15px; /* Move the back image 50px down */
        left: 0;
        opacity: 0;
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
        transform: scale(1.5); /* Make back image bigger */
        justify-content: center;
    }

    /* Styling for the front image when back image is visible */
    .flipped .front-image {
        opacity: 0;
        justify-content: center;
    }

    /* Styling for the back image when visible */
    .flipped .back-image {
        opacity: 1;
        justify-content: center;
    }


    @font-face {
        font-family: 'PoiretOne';
        src: local('assets/font/poiret-one/PoiretOne-Regular.ttf') format('truetype');
    }

    @font-face {
        font-family: 'gothic';
        src: local('gothic'), url('./gothic.woff') format('woff');
        }